@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
}

.main-container{
    height: 100vh;
    background-color: #000000;
}

/* upper controls */
.main-container .upper-controls{
    height: 4vh;
    color: white;
    text-align: right;
    font-size: .6rem;
    padding-top: .5rem;
}

.upper-controls .view,
.upper-controls .full-screen{
    background-color: #4A4A4A;
    margin-right: .3rem;
    padding: .2rem;
    border-radius: .2rem;
    display: inline-block;
}

/* display-users */
.main-container .display-users{
    height: 89vh;
    padding: 1rem 2.5rem;
}

.display-users .row-users{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    row-gap: .6rem;
    column-gap: .3rem;
}

.row-users .col-user{
    flex-basis: calc(100%/7 - .3rem);
    position: relative;
    height: calc(100%/5 - .6rem);
}

.col-user .user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: .7rem;
    background-color: rgba(98, 98, 98, 0.7);
    padding: .1rem;
}

.user-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;   
}

/* lower-controls */
.main-container .lower-controls{
    height: 7vh;
    background-color: #222222;
    color: white;
    font-size: .7rem;
}

.lower-controls .lower-controls-row{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.lower-controls-row .lower-controls-col{
    height: 100%;
}

.lower-controls .lower-controls-list{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}

.lower-controls .lower-controls-list .lower-controls-list-item{
    display: flex;
    gap: .8rem;
}

.lower-controls-list .lower-controls-list-item .single-control{
    text-align: center;
    padding-left: .9rem;
}

.lower-controls .lower-controls-row .lower-controls-col .end{
    color: red;
    background-color: #4A4A4A;
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}




